<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Flammenwerfer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Flammenwerfer"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CardsActivity"
            android:exported="true"
            android:label="XIntent Web Card"
            android:theme="@style/Theme.Flammenwerfer" />

        <activity
            android:name=".ProcessTextActivity"
            android:exported="false"
            android:theme="@style/Theme.ProcessTextTranslucent" />

        <activity
            android:name=".SendIntentActivity"
            android:exported="true"
            android:label="Save to Desktop (XIntent)"
            android:theme="@style/Theme.ProcessTextTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".XIntentDocumentsProvider"
            android:authorities="org.xintent.flammenwerfer.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name=".XIntentHoldOpenDocumentsProvider"
            android:authorities="org.xintent.flammenwerfer.documents.holdopen"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name=".XIntentTextToSpeechService"
            android:exported="true"
            android:label="XIntent Desktop TTS"
            android:permission="android.permission.BIND_TTS_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".XIntentCardService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <!-- these are defined in reverse order due to a binder mistake -->
        <activity-alias
            android:name=".ProcessTextAction3"
            android:targetActivity=".ProcessTextActivity"
            android:exported="true"
            android:label="XIntent Action 3">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            android:name=".ProcessTextAction2"
            android:targetActivity=".ProcessTextActivity"
            android:exported="true"
            android:label="XIntent Action 2">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextAction1"
            android:targetActivity=".ProcessTextActivity"
            android:exported="true"
            android:label="XIntent Action 1">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>